* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  font-family: "Prata", serif;
  color: white;
}
header {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

header p {
  color: white;
  font-weight: 700;
  margin-bottom: 5em;
}

.lista__header {
  color: white;
  list-style-type: none;
  display: flex;
  padding: 0 16em;
}
.item__header {
  margin: 0 0.5em;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.botao__amarelo {
  text-decoration: none;
  color: black;
  border: 10px solid #fbe850;
  background-color: #fbe850;
}
.lista__images {
  padding: 5em 0 0 0;
  list-style-type: none;
  display: flex;
}
.itens__images {
  padding-right: 4em;
}

.descricao__meio {
  display: grid;
  grid-template-columns: 50%;
}
.descricao__meio h1 {
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 0.5em;
}
.descricao__meio p {
  font-size: 15px;
  font-weight: 100;
  color: #bbbb;
  margin-right: 0 2em;
}
.images__link {
  height: 55%;
}

.images__link h3 {
  font-weight: 100;
  font-size: 24px;
  padding: 1em 0;
}

.images__link p {
  font-size: 13px;
  margin-right: 6.5em;
  font-weight: 100;
  color: #bbbb;
}
.text__border {
  margin: 0 10em;
}
.text__middle {
  background-color: #2e3038;
  padding: 4em 10em;
  column-count: 2;
}
.text__middle h3 {
  font-weight: 100;
  font-size: 32px;
}
.descricao__sabermais h3 {
  font-weight: 100;
  font-size: 28px;
}
.text__middle p {
  margin-right: 6em;
}

.text__middle p {
  font-size: 15px;
  font-weight: 100;
  color: #bbbb;
  padding: 1em 0;
}
.descricao__sabermais p {
  font-size: 15px;
  font-weight: 100;
  color: #bbbb;
  padding: 1em 3em 2em 0;
}

.descricao__sabermais {
  padding: 4em 0;
  display: inline-block;
  width: 45%;
}

.base__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 9em;
}

footer {
  background-color: #2e3038;
  padding: 1em;
}

.lista__footer {
  list-style-type: none;
  display: flex;
  align-items: center;
  align-items: baseline;
}
.imagem__footer {
  width: 100%;
}

.item__footer {
  margin: 0 0 0 3em;
}
