.titulo-principal {
  padding: 10px;
  text-align: center;
  color: rgb(71, 71, 71);
}
#banner {
  width: 100%;
}
.principal {
  background-color: darkgray;
  padding: 30px;
}
.titulo-centralizado {
  text-align: center;
}
p {
  text-align: center;
}
#missao {
  font-size: 20px;
}

.itens {
  font-style: italic;
  margin: 10%;
}
.beneficio {
  background-color: white;
  padding: 20px;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
#beneficios {
  width: 50%;
}
